<form class="example-form" (ngSubmit)="submit()" #form="ngForm">
  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.employed" placeholder="Are you employed?" name="employed">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.workAddress" placeholder="If so, what is your work address?" name="workAddress">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.ableToWork" placeholder="If no, are you able to work?" name="ableToWork">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.numberOfChildren" placeholder="How many children are in the house hold?" name="numberOfChildren">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.transportation" placeholder="Do you own a car?" name="transportation">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.liveWithSpouse" placeholder="Do you live with a significant other?" name="liveWithSpouse">

  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.spouseCar" placeholder="If so, do they own a car?" name="spouseCar">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.race" placeholder="Optional - What is your race?" name="race">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.annualIncome" placeholder="What is your annual income for your household?" name="annualIncome">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="userInfo.medicalConitions" placeholder="Do you have any life-threatening medical conditions?" name="medicalConitions">
  </mat-form-field>

  <button type="submit" mat-raised-button>Submit</button>

</form>
