

  <form class="example-container">
      <mat-form-field>
          <input matInput placeholder="Are you employed?">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="If so, what is your work address?">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="If no, are you able to work?">
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="How many children are in the house hold?">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Do you own a car?">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Do you live with a significant other?">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="If so, do they own a car?">
                  </mat-form-field>

                  <mat-form-field>
                      <input matInput placeholder="Optional - What is your race?">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="What is your annual income for your household?">
                      </mat-form-field>

                      <mat-form-field>
                          <input matInput placeholder="Do you have any life-threatening medical conditions?">
                        </mat-form-field>





        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
  </form>


